@media (min-width: 1024px) and (max-width: 1919px) {
  .categorie {
    display: flex;
    width: 16em;
    margin: 0.4em 0.1em;
  }

  .categorie svg {
    margin: 0.8em;
    display: block;
    flex: 0 0 3.6em;
    height: auto;
    fill: #b9005f;
  }

  .categorie .link-disabled svg {
    fill: #ddd;
  }

  .categorie p {
    margin: auto 0.8em;
  }

  /* layout */

  main {
    width: 66vw;
    height: 94vh;
    display: block;
    margin: auto;
  }

  .subject {
    display: inline-block;
  }

  .toptab {
    display: flex;
    align-items: baseline;
  }

  .tab {
    content: "";
    width: 25em;
    height: 3em;
    display: block;
    background-color: #fff;
    margin: 0;
    border-radius: 3em 10em 0 0;
  }

  .curve {
    content: "";
    width: 3em;
    height: 3em;
    display: block;
    background-color: #eee;
    margin: 0 0 0 -0.8em;
    border-radius: 0 5em 0 5em;
    z-index: 1;
  }

  .curve-bg {
    content: "";
    width: 3em;
    height: 2em;
    display: block;
    background-color: #fff;
    margin: 0 0 0 -3em;
    border-radius: 2em 5em 0 0;
    z-index: 0;
  }

  .cntt {
    width: 30vw;
    height: 24em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5em auto;
    flex-wrap: wrap;
    float: left;
  }

  #after-curve {
    width: 90vw;
    height: 2.5em;
    background-color: #fff;
    float: inline-end;
    position: inherit;
  }

  .wrapper {
    width: 80vw;
    margin: 0 auto;
    display: flex;
  }

  .intro {
    width: 60vw;
    margin: auto;
    padding: 1em;
    justify-content: center;
    align-items: center;
    display: inline-block;
    height: 10em;
  }

  .options {
    width: 40vw;
    margin: auto;
    padding: 1em;
  }

  .option-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  /* Interface */
  .ui-settings {
    display: flex;
    align-items: center;
    float: inline-end;
    padding: 0 1.6em;
    margin: 2em 0 0;
  }

  /* Typografie */
  h1 {
    font-size: 2em;
    max-width: 20em;
  }

  .toolgankelijk {
    font-size: 4em;
  }

  h2 {
    font-size: 1.5em;
  }

  p {
    color: #444;
  }
}
