@media (min-width: 320px) and (max-width: 440px) {
  .categorie {
    display: block;
    width: auto;
    margin: 0.5em 0.1em;
  }

  .categorie svg {
    margin: 0.8em auto;
    display: block;
    flex: 0 0 3.6em;
    height: auto;
    fill: #b9005f;
  }

  .categorie .link-disabled svg {
    fill: #ddd;
  }

  .categorie p {
    margin: auto 0.8em;
  }

  /* layout */

  main {
    display: flex;
    margin: 4em auto;
  }

  aside .cntt {
    width: 10vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
  }

  .wrapper {
    width: 100vw;
    margin: 0 auto;
  }

  .intro {
    width: 80vw;
    margin: 1em 1em;
  }

  .options {
    width: 80vw;
    margin: 0.5em 1em;
  }

  .option-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  /* Typografie */

  h1 {
    font-size: 2em;
  }
}

@media (min-width: 441px) and (max-width: 767px) {
  .categorie {
    display: flex;
    width: 12em;
    margin: 0.8em;
  }

  .categorie svg {
    margin: 0.8em 0.2em;
    display: block;
    width: 3.6em;
    height: auto;
    fill: #b9005f;
  }

  .categorie p {
    margin: auto 0.8em;
  }

  /* layout */

  main {
    display: block;
    margin: 8em auto;
  }

  aside {
    width: 100vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
  }

  .cntt {
    width: 100vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2.5em auto;
    flex-wrap: wrap;
  }

  .wrapper {
    width: 75vw;
    margin: 0 auto;
  }

  .intro {
    width: 80vw;
    margin: 1em 1em;
  }

  .options {
    width: 80vw;
    margin: 0.5em 1em;
  }

  .option-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0.8em 0;
  }

  /* Typografie */
}
