* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow: scroll;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: Fira sans, sans-serif;
  background-color: ;
}

header {
  width: 100vw;
  height: 6vh;
  display: block;
  /*background-color: #fff;*/
}

header #logo {
  width: auto;
  height: 5em;
  border: 4px solid #fff;
  border-radius: 0 0 3em 0;
  background-color: #fff;
  padding: 0.5em 1.2em;
  position: absolute;
}

header #logo::after {
  width: 1em;
  aspect-ratio: 1/1;
  background-color: #f72e96;
}

#logo svg {
  left: 13.8em;
  position: relative;
  z-index: -9;
  height: 6em;
  fill: #fff;
}
/*
#logo:hover {
  border: 0.2em solid red;
  transition: 0.8s;
}
*/

#after-curve {
  width: 80vw;
  height: 2.5em;
  background-color: #fff;
  float: inline-end;
  position: inherit;
}

#after-curve::before {
  content: '';
  width: 3.5em;
  height: 3.5em;
  position: absolute;
  top: 2.5em;
  left: 13.8em;
  box-shadow: 0.1em -1em 0 -0.2em white;
  border-radius: 60% 0 0 0;
}

#curve {
  width: 1em;
  height: 2em;
  display: block;
  background-color: sierra;
}

a {
  display: block;
  text-decoration: none;
}

aside {
  width: 100vw;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}

aside a {
  margin: auto;
}

.cntt {
  width: 90vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2.5em auto;
  flex-wrap: wrap;
}

.categorie {
  display: inline-block;
  margin: 0.4em;
  padding: 0.4em;
  text-align: center;
  color: #bbb;
}

.categorie:hover {
  background-color: #fff;
  border-radius: 0.4em;
  transition: 0.8s;
}

.categorie:active {
  background-color: #ddd;
}

.categorie svg {
  margin: 0.4em auto;
  display: block;
  width: 3.6em;
  flex: 0 0 3em;
  height: auto;
  fill: #b9005f;
}

.categorie .link-disabled svg {
  fill: #ddd;
}

/* Layout */

main {
  width: 90vw;
  display: block;
  margin: auto;
}

.index {
  display: flex;
  height: 80vh;
}

.wrapper {
  width: 100vw;
  margin: 0 auto;
}

li {
  list-style: none;
}

.intro {
  width: 50vw;
  display: inline-block;
}

.options {
  width: 50vw;
  display: inline-block;
  margin: 1em 0;
}

/* Operating */

a:focus {
  background-color: #fff;
  border-radius: 0.4em;
  color: #fff;
  fill: #fff;
  outline: none;
}

/*button:focus {
  background-color: #fff;
  border-radius: 0.4em;
  color: #b9005f;
  fill: #fff;
  outline: none;
}

/* Interface */

.ui-settings {
  display: inline-flex;
  align-items: center;
  float: inline-end;
  padding: 0 1.6em;
  margin: 1em auto;
}

.ui-settings li {
  margin: 0 0.5em;
}

.ui-settings svg {
  fill: #b9005f;
}

.ui-settings svg:focus {
  fill: #fff;
}

.ui-settings svg:hover {
  fill: #f72e96;
  transition: 0.8s;
}

.link-disabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.subcat {
  display: flex;
  margin: 0.8em 0;
  flex-wrap: wrap;
}

.subcat-btn {
  width: auto;
  height: auto;
  background-image: linear-gradient(95.6deg, #b9005f, #E30059);
  color: #fff;
  border: none;
  cursor: pointer;
  text-align: end;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  border-radius: 0.4em;
  transition: 0.2s ease;
}

.subcat-btn:active {
  background-color: #bbb;
}

.subcat-btn:focus {
  background-image: linear-gradient(95.6deg, #fafafa, #eee);
  color: #b9005f;
  outline: none;
  transition: 0.8s;
}

.subcat-btn:hover {
  opacity: 0.66;
}

/* Typografie */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Fira Sans, sans-serif;
  font-weight: initial;
  color: #b9005f;
}

h1 {
  font-size: 2em;
  max-width: 20em;
}

.toolgankelijk {
  font-size: 2em;
}

h1 small {
  display: block;
  font-size: 50%;
}

.uitleg {
  font-size: initial;
}

.tip {
  font-size: initial;
}

p {
  color: #444;
  max-width: 30em;
  line-height: 1.4;
}

/* Folder section */

.subject {
  display: block;
}

.folder {
  width: auto;
  display: block;
  margin: 0 0 4em 0;
  position: relative;
  background-color: #fff;
  border-radius: 0 0.5em 0.5em 0.5em;
  padding: 3em 2em;
  min-height: 30em;
}

.toptab {
  display: flex;
  align-items: baseline;
}

.tab {
  content: '';
  width: 20em;
  height: 3em;
  display: block;
  background-color: #fff;
  margin: 0;
  border-radius: 3em 10em 0 0;
}

.curve {
  content: '';
  width: 3em;
  height: 3em;
  display: block;
  background-color: #eee;
  margin: 0 0 0 -0.8em;
  border-radius: 0 5em 0 5em;
  z-index: 1;
}

.curve-bg  {
  content: '';
  width: 3em;
  height: 2em;
  display: block;
  background-color: #fff;
  margin: 0 0 0 -3em;
  border-radius: 2em 5em 0 0;
  z-index: 0;
}

.folder span {
  position: static;
  display: flex;
  align-items: center;
}

.content svg {
  margin: 0 0.2em 0 -0.4em;
  fill: #b9005f;
}

/* Toggle tussen articles */

article {
  /* display: none; */
  margin: 2em 0;
}

.hide {
  display: none;
}



/* Toggle tussen font sizes */
.text120 {
  font-size: 120%;
}

.text100 {
  font-size: 1em * 100%;
}

/* Verhoog contrast */
.dark-contrast {
  background-color: black;
  color: white;
}

.content-item {
  transition: 0.8s;
  padding: 0 0.8em;
}