@media (min-width: 768px) and (max-width: 1023px) {
  .categorie {
    display: block;
    width: 9em;
    margin: 0.5em 0.1em;
  }

  .categorie svg {
    margin: 0.8em auto;
    display: block;
    flex: 0 0 3.6em;
    height: auto;
    fill: #b9005f;
  }

  .categorie .link-disabled svg {
    fill: #ddd;
  }

  .categorie p {
    margin: auto 0.8em;
  }

  /* layout */

  main {
    display: flex;
    margin: auto;
    height: 94vh;
  }

  .cntt {
    width: 90vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2.5em auto;
    flex-wrap: wrap;
  }

  .wrapper {
    width: 75vw;
    margin: auto;
  }

  .intro {
    width: 80vw;
    margin: auto;
    padding: 1em;
  }

  .options {
    width: 80vw;
    margin: auto;
    padding: 1em;
  }

  .option-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  /* Typografie */
  h1 {
    font-size: 3em;
  }

  p {
    color: #444;
  }
}

@media (min-width: 640px) and (max-width: 768px) {
  .cntt {
    width: 80vw;
    height: 25vh;
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-around;
    margin: 3em auto;
    flex-wrap: wrap;
  }
}
